:root {
    --HazbinPurpleRedGradient:linear-gradient(to top,#840430,#670f38);
    --HazbinRed:#f20032;
    --HazbinRedGradient:linear-gradient(to top,#f8021b,#5e0110);
    --HazbinMaroon:#871028;
	--HazbinPurple:#5e0f39;
	--HazbinGlass1:#ffebab;
	--HazbinGlass1Gradient:linear-gradient(to top,#ffebab,#fecc92);
	--HazbinGlass2:#ffc681;
	--HazbinGlass2Gradient:linear-gradient(to top,#ffc683,#ff966c);
	--HazbinViolet:#270b3d;
	--HazbinPink:#b5194e;
	--HazbinLED:#fdefe4;
	--HazbinLED-C:#ef7821;
	--HazbinMaroonGradient:linear-gradient(to top,#860f3c,#350011);
	--HazbinBGColor:#4b020e;
}


body {
	background-image: url(https://puu.sh/KDOta/8539760abf.webp);
    background-size: 10%;
	background-color: var(--HazbinBGColor);
	font-family: Park Lane;
    line-height: 1.75;
}

#MainContent {
	background-color: rgb(0 0 0 / 0%);
	background: none;
}

#PageFooter {
	background-color: rgb(0 0 0 / 0%);
}

#ContentGrid>row>column:not(:first-child) {
	background-color: rgb(99 61 61 / 0%)!important;
	border-right: rgb(112 84 84 / 0%);
}

#ContentGrid row>column.lg-3 {
	background-color: rgb(99 61 61 / 0%)!important;
	border-right: rgb(0 0 0 / 0%);
}

#ContentGrid row>column.lg-6 {
	background-color: rgb(0 0 0 / 0%)!important;
	border-right: rgb(0 0 0 / 0%);
}



.PageModule {
  position: relative;
  background: var(--HazbinRedGradient); /* background fill only */
  padding: 26px;
  overflow: visible;
}


.PageModule::before {
  content: '';
  position: absolute;
  inset: 0;
  z-index: 10; /* higher than content */
  pointer-events: none;

  background:
    /* corners first */
    url('https://phencyclidine08.github.io/gbcss/HazbinHotel/Lucifer/frame_corner_tl.png') top left no-repeat,
    url('https://phencyclidine08.github.io/gbcss/HazbinHotel/Lucifer/frame_corner_tr.png') top right no-repeat,
    url('https://phencyclidine08.github.io/gbcss/HazbinHotel/Lucifer/frame_corner_bl.png') bottom right no-repeat,
    url('https://phencyclidine08.github.io/gbcss/HazbinHotel/Lucifer/frame_corner_br.png') bottom left no-repeat,

    /* sides next */
    url('https://phencyclidine08.github.io/gbcss/HazbinHotel/Lucifer/frame_top.png') top center no-repeat,
    url('https://phencyclidine08.github.io/gbcss/HazbinHotel/Lucifer/frame_right.png') center right repeat-y,
    url('https://phencyclidine08.github.io/gbcss/HazbinHotel/Lucifer/frame_bottom.png') bottom center no-repeat,
    url('https://phencyclidine08.github.io/gbcss/HazbinHotel/Lucifer/frame_left.png') center left repeat-y;


  background-size:
    86px 86px,   /* top-left corner */
    86px 86px,   /* top-right corner */
    86px 86px,   /* bottom-right corner */
    86px 86px,   /* bottom-left corner */

    100% 26px,   /* top border: full width, 26px height */
    26px 100%,   /* right border: 26px width, full height */
    100% 26px,   /* bottom border: full width, 26px height */
    26px 100%,   /* left border: 26px width, full height */

    cover;

  padding: 26px; /* Matches border/corner size */
  overflow: visible;
}

#tpm__sBmAudio > module.PageModule,
#MemberSubscriptionToggleModule {
  position: relative;
  z-index: 1;
  background: var(--HazbinRedGradient); /* base fill only */
  padding: 26px;
  overflow: visible;
}

#tpm__sBmAudio > module.PageModule::before,
#MemberSubscriptionToggleModule::before {
  content: '';
  position: absolute;
  inset: 0;
  z-index: 10; /* above content */
  pointer-events: none;

  background:
    /* Corners (Top Layer) */
    url('https://phencyclidine08.github.io/gbcss/HazbinHotel/Lucifer/frame_corner_tl_min.png') top left no-repeat,
    url('https://phencyclidine08.github.io/gbcss/HazbinHotel/Lucifer/frame_corner_tr_min.png') top right no-repeat,
    url('https://phencyclidine08.github.io/gbcss/HazbinHotel/Lucifer/frame_corner_br_min.png') bottom right no-repeat,
    url('https://phencyclidine08.github.io/gbcss/HazbinHotel/Lucifer/frame_corner_bl_min.png') bottom left no-repeat,

    /* Side Borders (Under Corners) */
    url('https://phencyclidine08.github.io/gbcss/HazbinHotel/Lucifer/frame_top.png') top center no-repeat,
    url('https://phencyclidine08.github.io/gbcss/HazbinHotel/Lucifer/frame_right.png') center right repeat-y,
    url('https://phencyclidine08.github.io/gbcss/HazbinHotel/Lucifer/frame_bottom.png') bottom center no-repeat,
    url('https://phencyclidine08.github.io/gbcss/HazbinHotel/Lucifer/frame_left.png') center left repeat-y;

  background-size:
    86px 86px,   /* top-left corner */
    86px 86px,   /* top-right corner */
    86px 86px,   /* bottom-right corner */
    86px 86px,   /* bottom-left corner */

    100% 26px,   /* top border */
    26px 100%,   /* right border */
    100% 26px,   /* bottom border */
    26px 100%;   /* left border */
}


#IdentityModule {
  position: relative;
  z-index: 1;
  background: var(--HazbinRedGradient); /* just the base fill now */
  padding: 26px;
  overflow: visible;
}

#IdentityModule::before {
  content: '';
  position: absolute;
  inset: 0;
  z-index: 10; /* on top of content */
  pointer-events: none;

  background:
    /* Plaque (TOP MOST LAYER) */
    url('https://phencyclidine08.github.io/gbcss/HazbinHotel/Lucifer/frame_bottom_plaque.png') bottom no-repeat,

    /* 1–4: corners (TOP LAYER) */
    url('https://phencyclidine08.github.io/gbcss/HazbinHotel/Lucifer/frame_corner_tl.png') top left no-repeat,
    url('https://phencyclidine08.github.io/gbcss/HazbinHotel/Lucifer/frame_corner_tr.png') top right no-repeat,
    url('https://phencyclidine08.github.io/gbcss/HazbinHotel/Lucifer/frame_corner_br_max.png') bottom right no-repeat,
    url('https://phencyclidine08.github.io/gbcss/HazbinHotel/Lucifer/frame_corner_bl_max.png') bottom left no-repeat,

    /* 5–8: side borders (UNDER corners) */
    url('https://phencyclidine08.github.io/gbcss/HazbinHotel/Lucifer/frame_top.png') top center no-repeat,
    url('https://phencyclidine08.github.io/gbcss/HazbinHotel/Lucifer/frame_right.png') center right repeat-y,
    url('https://phencyclidine08.github.io/gbcss/HazbinHotel/Lucifer/frame_bottom.png') bottom center no-repeat,
    url('https://phencyclidine08.github.io/gbcss/HazbinHotel/Lucifer/frame_left.png') center left repeat-y;

  background-size:
    300px 200px,   /* plaque */

    86px 86px,   /* top-left corner */
    86px 86px,   /* top-right corner */
    160px 160px,   /* bottom-right corner */
    160px 160px,   /* bottom-left corner */

    100% 26px,     /* top border */
    26px 100%,     /* right border */
    100% 26px,     /* bottom border */
    26px 100%;     /* left border */
}


	#HeadlineWrapper {  
	  position: relative;
	  background: var(--HazbinRedGradient); /* background fill only */
	  padding: 26px;
	  overflow: visible;
	}

#HeadlineWrapper::before {
  content: '';
  position: absolute;
  inset: 0;
  z-index: 10; /* higher than content */
  pointer-events: none;

  background:
    /* corners first */
    url('https://phencyclidine08.github.io/gbcss/HazbinHotel/Lucifer/frame_corner_tl.png') top left no-repeat,
    url('https://phencyclidine08.github.io/gbcss/HazbinHotel/Lucifer/frame_corner_tr.png') top right no-repeat,
    url('https://phencyclidine08.github.io/gbcss/HazbinHotel/Lucifer/frame_corner_br_max.png') bottom right no-repeat,
    url('https://phencyclidine08.github.io/gbcss/HazbinHotel/Lucifer/frame_corner_bl_max.png') bottom left no-repeat,

    /* sides next */
    url('https://phencyclidine08.github.io/gbcss/HazbinHotel/Lucifer/frame_top.png') top center no-repeat,
    url('https://phencyclidine08.github.io/gbcss/HazbinHotel/Lucifer/frame_right.png') center right repeat-y,
    url('https://phencyclidine08.github.io/gbcss/HazbinHotel/Lucifer/frame_bottom.png') bottom center no-repeat,
    url('https://phencyclidine08.github.io/gbcss/HazbinHotel/Lucifer/frame_left.png') center left repeat-y;


  background-size:
    86px 86px,   /* top-left corner */
    86px 86px,   /* top-right corner */
    160px 160px,   /* bottom-right corner */
    160px 160px,   /* bottom-left corner */

    100% 26px,   /* top border: full width, 26px height */
    26px 100%,   /* right border: 26px width, full height */
    100% 26px,   /* bottom border: full width, 26px height */
    26px 100%,   /* left border: 26px width, full height */

    cover;

  padding: 26px; /* Matches border/corner size */
  overflow: visible;
}

   wrapper#HeadlineWrapper {
        background: url(https://phencyclidine08.github.io/gbcss/HazbinHotel/Lucifer/lucy_header.png);
        width: auto;
        height: 400px;
        background-size: cover;
        align-content: end;
        overflow: hidden;
        background-position: top -200px right 0;
    }

    #HeadlineWrapper overlay h1 {
        content: url(https://files.gamebanana.com/bitpit/allenart04a_shadow.png);
        max-width: 600px;
    }

#SubNavigator {
	background: var(--HazbinMaroonGradient) !important;
}]