/*Orignally Created by wohSiesta (2019.01)*/
/*Reverse Engineered by Allen Scott (2019.15)*/
/*Cursor Bits by Ring-a-Ding Rampage originally pulled from YellowJello's css file (2020.08) */
/*Further Edited by Allen Scott. Basically nothing left from the original 2019 copy (2021.04)*/

:root {
--defaultCursor: url("https://files.gamebanana.com/bitpit/allen_cursor.png"), default !important;
--helpCursor: url("https://files.gamebanana.com/bitpit/allen_cursor_help.png"), help !important;
--pointerCursor: url("https://files.gamebanana.com/bitpit/allen_cursor_pointer.png"), pointer !important;
--DefaultTextColor: #fff7d3;
--DefaultYellowColor: #a8cb05;
--LinkColor: #ed3358;
--LinkHoverColor: #f1aa57; 
--NavBackgroundColor: #4a000f;
--NavPaneBackgroundColor: #4a000f;
--ButtonHoverBackgroundColor: #fba7b3;
--ButtonHoverFontColor: #fa0460;
--ModuleHeaderBackground: #54252e; 
--NotificationUnseenBG : var(--NavPaneBangroundColor) !important;
--NotificationUnseenDividerColor: var(--LinkColor) !important;
}
}

#Member_Submissions_Flag #SubmissionsListModule .Preview p, #FlagsModule .Preview p {
    max-width: 300px;
	max-height: 300px;
	overflow-y: auto;
}

/* This bit is to imitate the background of https://www.hazbinhotel.com/ */

html {transition:all .2s;content:'';display:block;z-index:0;height:100%;width:100%;background:#980d20;background:-moz-radial-gradient(center,ellipse cover,#980d20 50%,#38050c 100%);background:-webkit-radial-gradient(center,ellipse cover,#980d20 50%,#38050c 100%);background:radial-gradient(ellipse at center,#980d20 50%,#38050c 100%);filter:progid:dximagetransform.microsoft.gradient(startColorstr='#980d20',endColorstr='#38050c',GradientType=1);min-height:100%}body{transition:all .2s;min-height:100%;position:relative;z-index:1;background-image:url("https://files.gamebanana.com/bitpit/cascading_lucifer_crest.png") !important;background-color:transparent;background-size:220px !important}

#BodyWrapper {background: none !important;}

/*This affects the Overview, apps, network, etc (SubNavigator)*/

#SignupNoAdsPromo {
    text-align: center;
}

#SubNavigator {
    display: block;
    font-size: var(--SubNavigatorFontSize);
    border-bottom-width: .125em;
    border-bottom-style: solid;
    border-bottom-color: #4a000f;
}

#SubNavigator .ActiveEntry {
    font-weight: bold;
    margin-bottom: -0.125em;
    border-bottom-width: .125em;
    border-bottom-style: solid;
    border-bottom-color: #fe035f;
    background: var(--SubNavigatorActiveTabBackgroundColor);
}

#SubNavigator .DropdownMenuSubNavigator > li {
    font-size: 12px;
}

#SubNavigator .BasicSubNavigator, #SubNavigator .DropdownMenuSubNavigator {
    /0/background: #000000ad;
    margin-right: 50px;
}
	
@import url('https://files.gamebanana.com/bitpit/lobster-regular.ttf');
	
#SubNavigator .DropdownMenuSubNavigator>li {
    text-align: center;
    display: inline-block;
    white-space: nowrap;
    padding-top: 10px;
    padding-bottom: 10px;
	font-size: 16px;
	letter-spacing: 2px;
    font-family: Arial Black;
    text-shadow: rgb(0 0 0) 0px 0px 5px;
}

.TitleOnly>div {
    color: #ed3358;
    cursor: pointer;
}

.TitleOnly>div:hover {
    color: #ed3358;
}

#SubNavigator .DropdownMenuSubNavigator>li>a {
    color: #ed3358;
}

#SubNavigator .DropdownMenuSubNavigator>li>a:hover {
    color: #ed3358;
}

#SubNavigator .DropdownMenuSubNavigator>li:hover {
    border-bottom-width: 0;
}

#SubNavigator .DropdownMenuSubNavigator>li ul>li {
    background: #000000ad;
}

body[data-_sHeaderStyle=Floating] #MainContentHeader.Fixed #SubNavigator {
    font-size: var(--SubNavigatorFixedFontSize);
	background: #4a000f;

}

/*

spriteIcon, .SpriteIcon {
  image-rendering: pixelated;
  background-image: url(http://www.mediafire.com/convkey/430b/6ifirr184wh3g73zg.jpg);
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle; } 
  
  */

Signature.Allen.Title, .Signature.Allen.Title {
	max-width: 100%;
    content: url(https://files.gamebanana.com/bitpit/allenart03a_f0ef1.png);
}

img#GbLogo {
    content: url(https://files.gamebanana.com/bitpit/gamebananaimg_angel.png);
}

button, .ButtonLike {
    background: #ed3358;
	color:#4a000f;
	font-weight: bold;
	margin: 4px;
}

.ExtendedContentButton {
    background: #ed3358;
	color:#4a000f;
	font-weight: bold;
}

/* Responsibilities Modgroups*/

#ResponsibilitiesModule ul.Modgroups li {
    border-width: .125em;
    border-style: solid;
    border-color: var(--DefaultDarkerRegion1Color);
}

#ResponsibilitiesModule li {
    -moz-box-shadow: .125em .125em .125em #000;
    -webkit-box-shadow: 0.125em 0.125em 0.125em #000;
    box-shadow: 0.125em 0.125em 0.125em #000;
    display: inline-block;
    margin: .125em;
    white-space: nowrap;
    padding: .25em;
	background: #3d2126;
	color: #fa065d;
}

/* State Labels, Such as Honorary or Modgroups*/

stateLabel.IsHonorary {
    background: #ffede8;
	color: #ed3358;
	font-weight: bold;
}

stateLabel {
    display: inline-flex;
    align-items: center;
    white-space: nowrap;
    padding: .25em .5em;
    margin: .125em;
    border-radius: .25em;
    background: #6c0017;
	color: #fa065d;
}

/*Top and Side Nav*/

#PrimaryNav, #SecondaryNav {
    background: #4a000f;
}

/*Avatartooltip*/

.AvatarTooltip .Column .NameAndStatus .StateLabel.Online {
    color: #e85298;
    border: 1px solid;
}

.AvatarTooltip .Column .NameAndStatus .StateLabel.Offline {
    color: #043333;
    border: 1px solid;
}

.AvatarTooltip .Column .Clearance .StateLabel.Member {
    color: #cb6f9a;
    border: 1px solid;
}
.AvatarTooltip .Column .Clearance {
    color: gray;
    border: 1px solid;
}

.AvatarTooltip .Column .OnlineStatus stateLabel.Online {
      border: 2px solid;
      border-radius: 0px;
      text-transform: uppercase; 
	  }

.AvatarTooltip .Column .OnlineStatus stateLabel.Offline {
      border: 2px solid;
      border-radius: 0px;
      text-transform: uppercase; 
	  }

/*Ripe Border*/
	  
.Avatar.IsRipeSupporter {
    border-radius: 0em;
}

.Avatar.IsRipeSupporter {
    background: linear-gradient(to bottom, #f3074a, #fa487a, #fc7ea2, #fa487a, #f3074a);
    padding: 0.25em;
    border-radius: 0.125em;
}

/*Staff Member Glows*/

.Avatar.HasClearanceLevel 
{
    box-shadow: 0 0 0 0.125em #fef7f2, 0 0 0.75em #ffede8;
}

.Avatar.HasModClearanceLevel 
{
    box-shadow: 0 0 0 0.125em #f5a6b1, 0 0 0.75em #fba7b3;
}

/*Hover Column Assets*/

.AvatarTooltip .Column .StatusLevels .HasClearanceLevel {
    color: #fa065d;
}

.AvatarTooltip .Column .OnlineStatus stateLabel.Online {
	background: #fba7b3; 
    color: #ed3358;
	font-weight: bold;
}

.AvatarTooltip .Column .OnlineStatus stateLabel.Offline {
    background: #ed3358;
	color:#4a000f;
	font-weight: bold;
}


/*Online Corner Indicator*/

.Avatar.Online:after, .MemberLink.Online:after
{
	background: #fef7f2;
	border-radius: 50%;
	box-shadow: 0 0 5px #f9a8b3;
}

/*Sprite Replacements*/ 

spriteIcon.SubmissionType.Sound, .spriteIcon.SubmissionType.Sound { 
    width: 28px;
    height: 28px;
    content: url(https://files.gamebanana.com/bitpit/soundicon1.png);
    background-position: 916px 0px;
}

spriteIcon.SubmissionType.Skin, .spriteIcon.SubmissionType.Skin { 
    width: 28px;
    height: 28px;
    content: url(https://files.gamebanana.com/bitpit/skinsicon1_c6129.png);
    background-position: 916px 0px;
}

spriteIcon.SubmissionType.Spray, .spriteIcon.SubmissionType.Spray { 
    width: 28px;
    height: 28px;
    content: url(https://files.gamebanana.com/bitpit/sprayicon1.png);
    background-position: 916px 0px;
}

spriteIcon.SubmissionTypeSmall.Category, .spriteIcon.SubmissionTypeSmall.Category { 
    width: 14px;
    height: 10px;
    content: url(https://files.gamebanana.com/bitpit/submissioncategory1.png);
    background-position: 916px 0px;
}

spriteIcon.MiscIcon.QuickDlIcon, .spriteIcon.MiscIcon.QuickDlIcon { 
    width: 14px;
    height: 14px;
    content: url(https://files.gamebanana.com/bitpit/quickdlicon.png);
    background-position: 916px 0px;
}

spriteIcon.MiscIcon.SubmitIcon, .spriteIcon.MiscIcon.SubmitIcon {
    width: 24px;
    height: 29px;
    content: url(https://puu.sh/HU2Zt/4958d6eade.png);  
    background-position: 916px 0px;
}

spriteIcon.MiscIcon.ShowContentIcon, .SpriteIcon.MiscIcon.ShowContentIcon {
	width: 10px;
    height: 10px;
    content: url(https://puu.sh/HU1pq/89de16693d.png);
    background-position: 916px 0px;
	opacity: 1;
}

spriteIcon.MiscIcon.HideContentIcon, .SpriteIcon.MiscIcon.HideContentIcon {
	width: 10px;
    height: 10px;
    content: url(https://puu.sh/HU1NA/6d5fce051f.png);
    background-position: 916px 0px;
	opacity: 1;
}

spriteIcon.RightArrowIcon.SmallWhiteArrowIcon, .SpriteIcon.RightArrowIcon.SmallWhiteArrowIcon {	
	width: 16px;
    height: 16px;
    content: url(https://puu.sh/HU1pq/89de16693d.png);
    background-position: 916px 0px;
	opacity: 1;
}

spriteIcon.LeftArrowIcon.SmallWhiteArrowIcon, .SpriteIcon.LeftArrowIcon.SmallWhiteArrowIcon {	
	width: 16px;
    height: 16px;
    content: url(https://puu.sh/HU1pw/81a23ab149.png);
    background-position: 916px 0px;
	opacity: 1;
}

spriteIcon.SubnavigatorIcon.EditIcon, .SpriteIcon.SubnavigatorIcon.EditIcon {
    width: 34px;
    height: 29px;
    content: url(https://puu.sh/HU2ZI/a4dab7d7ca.png);  
    background-position: 916px 0px;
}

spriteIcon.PostToolsIcon.QuoteIcon, .SpriteIcon.PostToolsIcon.QuoteIcon {
    width: 24px;
    height: 29px;
    content: url(https://puu.sh/HU2Zt/4958d6eade.png);  
    background-position: 916px 0px;
}

spriteIcon.SubnavigatorIcon.TrashIcon, .SpriteIcon.SubnavigatorIcon.TrashIcon {
    width: 21px;
    height: 29px;
    content: url(https://puu.sh/HU2ZN/7e7531a20d.png);  
    background-position: 916px 0px;
}

spriteIcon.SubnavigatorIcon.WithholdIcon, .SpriteIcon.SubnavigatorIcon.WithholdIcon {
    width: 21px;
    height: 29px;
    content: url(https://puu.sh/HU35d/5371174f7e.png);  
    background-position: 916px 0px;
}

spriteIcon.PostToolsIcon.StampIcon, .SpriteIcon.PostToolsIcon.StampIcon {
    width: 27px;
    height: 29px;
    content: url(https://puu.sh/HU39i/152f921588.png);  
    background-position: 916px 0px;
}

spriteIcon.SubnavigatorIcon.ReportIcon, .SpriteIcon.SubnavigatorIcon.ReportIcon {
    width: 21px;
    height: 29px;
    content: url(https://puu.sh/HU3cV/332ba0946a.png);  
    background-position: 916px 0px;
}
spriteIcon.EditorIcon.LinkIcon, .SpriteIcon.EditorIcon.LinkIcon {
    width: 29px;
    height: 29px;
    content: url(https://puu.sh/HU3i8/a5927a224a.png);  
    background-position: 916px 0px;
}

/*stamps*/
.PostsListModule .Posts > li article .PostStamps li {
    border-left: .25em solid transparent;
	border-right: .25em solid transparent;
    background: #54252e;
    font-size: 12px;
}

.PostsListModule .Posts>li article .PostStamps li[data-_sCategory=positive] {
    color: #ffede8;
    border-color: #ffede8;
}

.PostsListModule .Posts>li article .PostStamps li[data-_sCategory=negative] {
    color: #ed3358;
    border-color: #ed3358;
}

.PostsListModule .Posts>li article .PostStamps li[data-_sCategory=neutral] {
    color: #823d4e;
    border-color: #823d4e;
}

spriteIcon.StampIcon.FunnyIcon, .SpriteIcon.StampIcon.FunnyIcon {
    width: 23px;
    height: 29px;
    content: url(https://puu.sh/HU3Bh/4e55419db0.png);  
    background-position: 916px 0px;
}

spriteIcon.StampIcon.AgreeIcon, .SpriteIcon.StampIcon.AgreeIcon {
    width: 31px;
    height: 29px;
    content: url(https://puu.sh/HU3KC/865060c204.png);  
    background-position: 916px 0px;
}

spriteIcon.StampIcon.DisagreeIcon, .SpriteIcon.StampIcon.DisagreeIcon {
    width: 31px;
    height: 29px;
    content: url(https://puu.sh/HU3MW/4d142ef771.png);  
    background-position: 916px 0px;
}

spriteIcon.StampIcon.CheersIcon, .SpriteIcon.StampIcon.CheersIcon {
    width: 21px;
    height: 29px;
    content: url(https://puu.sh/HU3Ut/67d1986732.png);  
    background-position: 916px 0px;
}

spriteIcon.StampIcon.WinIcon, .SpriteIcon.StampIcon.WinIcon {
    width: 20px;
    height: 29px;
    content: url(https://puu.sh/HU40A/aca5dd7845.png);  
    background-position: 916px 0px;
}

spriteIcon.StampIcon.HelpfulIcon, .SpriteIcon.StampIcon.HelpfulIcon {
    width: 10px;
    height: 29px;
    content: url(https://puu.sh/HU4cs/0b3f74b0fc.png);  
    background-position: 916px 0px;
}

spriteIcon.StampIcon.InterestingIcon, .SpriteIcon.StampIcon.InterestingIcon {
    width: 35px;
    height: 29px;
    content: url(https://puu.sh/HU4oQ/d5f9d9da3d.png);  
    background-position: 916px 0px;
}

spriteIcon.StampIcon.ThanksIcon, .SpriteIcon.StampIcon.ThanksIcon {
    width: 42px;
    height: 29px;
    content: url(https://puu.sh/HU4rJ/afc0518d4d.png);  
    background-position: 916px 0px;
}

spriteIcon.StampIcon.HmbIcon, .SpriteIcon.StampIcon.HmbIcon {
    width: 23px;
    height: 29px;
    content: url(https://puu.sh/HU4uQ/e413f03983.png);  
    background-position: 916px 0px;
}

spriteIcon.StampIcon.EpicWinIcon, .SpriteIcon.StampIcon.EpicWinIcon {
    width: 31px;
    height: 29px;
    content: url(https://puu.sh/HU4ye/18079b3d67.png);  
    background-position: 916px 0px;
}

spriteIcon.StampIcon.CookieIcon, .SpriteIcon.StampIcon.CookieIcon {
    width: 57px;
    height: 29px;
    content: url(https://puu.sh/HU4Ek/da2c7be3f0.png);  
    background-position: 916px 0px;
}

spriteIcon.StampIcon.HiFiveIcon, .SpriteIcon.StampIcon.HiFiveIcon {
    width: 23px;
    height: 29px;
    content: url(https://puu.sh/HU4Jh/fbdd5f33f4.png);  
    background-position: 916px 0px;
}

spriteIcon.StampIcon.CreativeIcon, .SpriteIcon.StampIcon.CreativeIcon {
    width: 32px;
    height: 29px;
    content: url(https://puu.sh/HU4Qt/76d2c32925.png);  
    background-position: 916px 0px;
}

spriteIcon.StampIcon.YouRockIcon, .SpriteIcon.StampIcon.YouRockIcon {
    width: 18px;
    height: 29px;
    content: url(https://puu.sh/HU4Z4/5170a41631.png);  
    background-position: 916px 0px;
}

spriteIcon.StampIcon.CorrectIcon, .SpriteIcon.StampIcon.CorrectIcon {
    width: 29px;
    height: 29px;
    content: url(https://puu.sh/HU52g/3d13fbbae6.png);  
    background-position: 916px 0px;
}

spriteIcon.StampIcon.TopBananaIcon, .SpriteIcon.StampIcon.TopBananaIcon {
    width: 29px;
    height: 29px;
    content: url(https://puu.sh/HU53Y/611b96cdd1.png);  
    background-position: 916px 0px;
}

spriteIcon.StampIcon.BurnIcon, .SpriteIcon.StampIcon.BurnIcon {
    width: 28px;
    height: 29px;
    content: url(https://puu.sh/HU56t/7630c2e87a.png);  
    background-position: 916px 0px;
}

spriteIcon.StampIcon.GoodIdeaIcon, .SpriteIcon.StampIcon.GoodIdeaIcon {
    width: 19px;
    height: 29px;
    content: url(https://puu.sh/HU59z/ec738efe4c.png);  
    background-position: 916px 0px;
}

spriteIcon.StampIcon.InformativeIcon, .SpriteIcon.StampIcon.InformativeIcon { 
    width: 44px;
    height: 29px;
    content: url(https://puu.sh/HU5eF/936dd4f6e1.png);  
    background-position: 916px 0px;
}

spriteIcon.StampIcon.SmartIcon, .SpriteIcon.StampIcon.SmartIcon {
    width: 34px;
    height: 29px;
    content: url(https://puu.sh/HUYsm/1c18d922bd.png);  
    background-position: 916px 0px;
}

spriteIcon.StampIcon.RudeIcon, .SpriteIcon.StampIcon.RudeIcon {
    width: 34px;
    height: 29px;
    content: url(https://puu.sh/HUYMy/f9ad68d2c9.png);  
    background-position: 916px 0px; 
}

spriteIcon.StampIcon.EpicFailIcon, .SpriteIcon.StampIcon.EpicFailIcon {
    width: 24px;
    height: 29px;
    content: url(https://puu.sh/HUYsE/cfa278cd6a.png);  
    background-position: 916px 0px; 
}

spriteIcon.StampIcon.FailIcon, .SpriteIcon.StampIcon.FailIcon {
    width: 24px;
    height: 29px;
    content: url(https://puu.sh/HUYsH/00eaf4fc7b.png);  
    background-position: 916px 0px; 
}

spriteIcon.StampIcon.CsbIcon, .SpriteIcon.StampIcon.CsbIcon {
    width: 43px;
    height: 29px;
    content: url(https://puu.sh/HUYyI/62619274f2.png);  
    background-position: 916px 0px; 
}

spriteIcon.StampIcon.TldrIcon, .SpriteIcon.StampIcon.TldrIcon {
    width: 26px;
    height: 29px;
    content: url(https://puu.sh/HUYFY/4af5067b79.png);  
    background-position: 916px 0px; 
}

spriteIcon.StampIcon.ConfusingIcon, .SpriteIcon.StampIcon.ConfusingIcon {
    width: 36px;
    height: 29px;
    content: url(https://puu.sh/HUYTq/871b1f238f.png);  
    background-position: 916px 0px; 
}

spriteIcon.StampIcon.UnhelpfulIcon, .SpriteIcon.StampIcon.UnhelpfulIcon {
    width: 27px;
    height: 29px;
    content: url(https://puu.sh/HUYVU/2285f496f6.png);  
    background-position: 916px 0px; 
}

spriteIcon.StampIcon.CheesyIcon, .SpriteIcon.StampIcon.CheesyIcon {
    width: 21px;
    height: 29px;
    content: url(https://puu.sh/HUYYM/0ab6094c09.png);  
    background-position: 916px 0px;
}

spriteIcon.StampIcon.LateIcon, .SpriteIcon.StampIcon.LateIcon {
    width: 35px;
    height: 29px;
    content: url(https://puu.sh/HUZ46/dc5295a1ea.png);  
    background-position: 916px 0px;
}

spriteIcon.StampIcon.CitationNeededIcon, .SpriteIcon.StampIcon.CitationNeededIcon {
    width: 34px;
    height: 29px;
    content: url(https://puu.sh/HUZeq/1dd892939f.png);  
    background-position: 916px 0px;
}

/*More Custom Cursor Dependants*/

body, .lg-outer #lg-dropdown-overlay
{
	cursor: var(--defaultCursor);
}

.RichText .Spoiler, #MedalsModule li, .PostsListModule .Posts>li article .PostStamps:hover
{
	cursor: var(--helpCursor);
}

a, .Linklike, button, .ButtonLike, input[type=range]::-webkit-slider-runnable-track, select, .SelectLike, .BeaconParent .Beacon, .ExpandableToggle, .PageModule>.RelatedLinksButton, .MainForm .InputsWrapper .OptionalInput>legend, fieldset#Userid .AdvancedElement_InputSuggestionsList li, .AdvancedListSettingsModule>.Content .OrderAndSortControls fieldset legend, .AdvancedElement_FloatingButtonTabs li, .AdvancedElement_InputSuggestionsList li, .AdvancedElement_Tabs li, .AdvancedElement_GraphicalSelect .OptionsWrapper .Options li, .AdvancedElement_Switch.List ul li, #MasterLog log .CloseButton, .Modal .CloseModal, .Editor .ViewModeSwitchers span, .Editor .WysiwygPalettes>h4, #PrimaryNav controls, #SecondaryNav controls, body[data-_sDeviceType=desktop][data-_sNavItemActivation=Click] #SecondaryNav module>icon:hover, body[data-_sDeviceType=desktop][data-_sNavItemActivation=Click] #SecondaryNav module>widget:hover, body[data-_sDeviceType=desktop][data-_sNavItemActivation=Click] #PrimaryNav module>icon:hover, body[data-_sDeviceType=desktop][data-_sNavItemActivation=Click] #PrimaryNav module>widget:hover, #HiddenColumnToggleButton, #AlertsNavModule pane .Controls .MarkAllAsSeen, #ActivityNavModule pane .Controls .MarkAllAsSeen, #AlertsNavModule pane .Broadcasts .Unseen .BroadcastStatusWrapper, #ActivityNavModule pane .Broadcasts .Unseen .BroadcastStatusWrapper, #GamesNavModule widget ul li, #BuddiesNavModule pane #BuddyChatInitiators li, .RichText .TableOfContents ul li, #FeaturesSliderModule .Slides .Slide, #FeaturesSliderModule .Slides .ExpandedSlide, #FeaturesSliderModule .Slides .Slide .Info .Name, #FeaturesSliderModule .Slides .ExpandedSlide .Info .Name, #SubmissionsListAdvancedListSettingsModule .RecentGames li, #SubmissionsListAdvancedListSettingsModule .SelectedGames li, #ThanksToggleModule .Content #ShowThanksOptionsToggle.ModalLauncher, #UpdatesModule .ToggleContentButton, .lg-actions .lg-next, .lg-actions .lg-prev, .lg-toolbar .lg-icon, .lg-outer .lg-thumb-item, .lg-outer .lg-toogle-thumb, .lg-outer .lg-video .lg-video-play, .lg-outer .lg-pager-cont
{
        cursor: var(--pointerCursor);
}

/*header*/
#MainContentHeader {
    background: url(https://puu.sh/HU5C5/ca75b2ea48.png);
	background-repeat: no-repeat;
	background-position: center;
}
#MainContentHeader.Fixed {
    background: url(https://puu.sh/HU5C5/ca75b2ea48.png);
	background-repeat: no-repeat;
    background-position: center;
}
#HeadlineWrapper {
    height: 145px;
}

#HeadlineWrapper overlay {
    color: var(--PageTitleColor);
    padding: 1em;
    width: 0%;
    display: none;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-end;
    flex-grow: 1;
    flex-basis: 50%;
}

a, .Linklike {
  cursor: pointer;
  text-decoration: none;
  color: #a8cb05;
  color: var(--LinkColor); }

a:hover, .Linklike:hover {
  color: #fb0d01;
  color: var(--LinkHoverColor); }
  

/*studio Identity*/
#IdentityModule .Content h2
	{display:none;}
#IdentityModule article img 
	{content: url(http://www.mediafire.com/convkey/c84b/lsksifb7xhmdt57zg.jpg); display: inline-block; width: 370px;} 
	
/*Submission Thumbnails*/

	records.Grid recordCell.Preview .Preview {	
    max-height: 9em;
}
	
	recordCell.Preview img {
	max-width: 100%;
	border: 0px solid rgb(250 6 93 / 100%);
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
	
	img.PreviewImage {
    box-shadow: 0 0.125em 0.125em rgb(0 0 0 / 25%);
}

#PortfolioModule recordCell.Preview bgImg {
    width: 100%;
    height: 100%;
    display: block;
    background-size: cover;
    background-position: center;
    transition: all .25s ease-in-out;
	border: 0px solid rgb(250 6 93 / 100%);
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

#PortfolioModule recordCell.Identifiers a {
    font-size: var(--DefaultXLargeFontSize);
    font-weight: bold;
    text-shadow: 0 0 10px #000;
    line-height: 1em;
}

#PortfolioModule recordCell.Identifiers small {
    font-size: var(--DefaultMiniFontSize);
    color: var(--DefaultGreyColor);
	text-shadow: 0 0 5px #000;
    display: block;
}
	
	.IdeaPreview gauge indicator.Positivity {
    background: #fef7f2;
}
	
/* Stats Module Overflow Fix */	
	
	#CoreStatsModule ul {
    margin-right: 0.5em;
	margin-left:  0.5em;
    white-space: nowrap;
    overflow-x: scroll;
	overflow-y: clip;
    padding-bottom: .75em;
}

/* Replacement for "column module" */

.PageModule > .Content, .PageModule > .LogMessages {
    background: #4a000f;
    border: 4px solid rgb(250 6 93 / 100%);
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.PageModule > h2 {
    border: 0px solid rgb(250 6 93 / 100%);
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
    background: var(--ModuleHeaderBackground);
    margin-bottom: 0;
    text-transform: uppercase;
	text-align: center;
}

#PostAddFormRequesterModule:before {
    display: none;
    content: none;
    text-align: center;
}

.PageModule>h2:after {
    height: .1em;
    margin: .25em 0 0 0;
    display: none;
    content: none;
    width: 2em;
    background: var(--ModuleTitleUnderlineColor);
}

/*
column module {
    background-color: #4a000f;
    /-/outline: 1px solid #fa065d;
	border: 4px solid rgb(250 6 93 / 100%);
	        border-bottom-right-radius: 20px;
			border-bottom-left-radius: 20px;
}
*/

controls.ModuleTools {display: none !important;}



#FullscreenModuleWrapper module > h3, #ContentGrid module > h3, {
    background: #54252e;
    display: block !important;
    border-left: 5px solid rgba(255, 255, 255, 0.1);
    padding: 5px;
    margin: 0;
    margin-bottom: 0;
    color:#fef7f2;
    font-size: 17px;
    font-weight:unset;
}
#FullscreenModuleWrapper module > h3:after, #ContentGrid module > h3:after {display:none}


/*bredcrumb fuxgiven
#HeadlineWrapper overlay h2 {
    display: none;
}
#Breadcrumb, #HeadlineWrapper overlay h1 {
    font-size: 14px;
    font-weight: bold;
    display: inline;
}
*/

/*Submission preview image*/
.Content ul li a img.PreviewImage {height: 100%; width: 100%; object-fit: cover;}
module.GenericPreviewListModule .Content ul li .Preview {height: 130px; width: 210px; display: inline-block; margin: 0;}

module.GenericPreviewListModule .Content ul li {margin: 0px 8px 16px; padding: 0; vertical-align: top; display: inline-block; font-size: 0; background: #0006; outline: 1px solid #0c0c0c; position: relative;}
spriteicon.MiscIcon.QuickDlIcon.tooltipstered {position: absolute; left: 0; top: 0;visibility: hidden; margin: 5px;}
module.GenericPreviewListModule .Content ul li:hover spriteicon.MiscIcon.QuickDlIcon.tooltipstered {visibility: visible;}

module.GenericPreviewListModule .Content ul li a {display: block;}

module.GenericPreviewListModule .Content {padding: 0 !important;}
module.GenericPreviewListModule .Content ul {font-size: 0; margin-top: 16px;}

#FullscreenModuleWrapper module, #ContentGrid module {
    margin: 0.5em;
    padding: 0;
    position: relative;
}



/*Submission name*/
.GenericPreviewListModule li > a:nth-child(3)
	{font-family:  open sans !important; font-size: 12px; text-shadow: 1px 1px 1px #000 !important; color: rgba(255, 255, 255, 0.75) !important; font-weight: bold; max-height: 17px; overflow: hidden; margin: 8px; width: 194px;}


/*messages*/
fieldset#IsAnonymous {display:none;}


/*posts*/
#ContentGrid column .PostsListModule .PostsListModule {
    border-left: none;
}
.PostsListModule .Posts > li article footer {
    text-align: left;
}
.PostsListModule .Posts > li .PostHeader .AvatarWrapper, .PostsListModule .Posts > li .PostHeader .PostLabels, .PostsListModule .Posts > li .PostHeader .Poster, .PostsListModule .Posts > li .PostHeader .Date, .PostsListModule .Posts > li .PostHeader .DateModified {
    margin: .5em;
}

.PostsListModule .Posts>li article {
    margin-top: .5em;
	margin-left: .25em;
	margin-right: .25em;
}

.PostHeader {
    background: #54252e;
    margin: -5px -5px 0;
	border: 2px solid rgb(250 6 93 / 100%);
	border-top-right-radius: 10px;
    border-top-left-radius: 10px;
	border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.PostsListModule .Posts > li {
	/-/background-image:url("https://puu.sh/HU07m/4c019a6ad2.png");
	background: #401f26; 
	color:#fff7d3;
    margin-bottom: 15px;
    border: 2px solid rgb(250 6 93 / 100%);
	border-top-right-radius: 20px;
    border-top-left-radius: 20px;
	border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.PostsListModule .Posts>li .PostReplies .PostsListModule .Content {
    padding: 0;
	border: 2px solid rgb(250 6 93 / 100%);
	border-top-right-radius: 20px;
    border-top-left-radius: 20px;
	border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.PostsListModule .Posts>li .PostHeader .PostLabels stateLabel.IsSubmitter {
    background: #ffede8;
	color: #ed3358;
	font-weight: bold;
}

.PostsListModule .Posts>li .PostTools {
    margin: .25em 0 .5em 0;
    display: flex;
    align-items: center;
    opacity: .5;
    transition: opacity .25s ease-in-out;
	overflow-x: auto;
}

.OlderThan1Day {
    color: #fff7d3;
}

.LessThan4HoursOld {
    color: #fa065d;
}

.LessThan1HourOld {
    color: #fa065d;
}

.LessThan30minsOld {
    font-weight: bold;
    color: #fa065d;
}

.LessThan5minsOld {
    text-decoration: underline;
    font-weight: bold;
    color: #fa065d;
}

/*download*/
module#FilesModule .Content {
    border-left: 5px solid #6ee16c;
}


/*table*/
table {
    display: inline;
}

/*nav*/
#TopNav,#SideNav {
background: #93325e;
}

#TopNav, #SideNav {
  transform: translateZ(0);
  top: 0;
  position: absolute;
  background: #93325e;
  position: fixed;
  transition: opacity 0.5s ease-in-out;
  opacity: 1; }
  #TopNav module, #SideNav module {
    transition: opacity 0.5s ease-in-out; }
    #TopNav module icon, #SideNav module icon {
      line-height: 0;
      user-select: none;
      padding: 5px;
      display: inline-block; }
    #TopNav module pane, #SideNav module pane {
      display: none;
      background: #4a000f;
      position: absolute; }
      #TopNav module pane header, #SideNav module pane header {
        padding: 0.25em; }
        #TopNav module pane header h4, #SideNav module pane header h4 {
          font-family: "" Open Sans ", sans-serif";
          font-family: var(--NavPaneTitleFontFamily);
          font-size: 1.5em;
          font-size: var(--NavPaneTitleFontSize);
          padding: 0.25em;
          margin: 0; }
      #TopNav module pane article, #SideNav module pane article {
        padding: 0.75em; }
      #TopNav module pane h5, #SideNav module pane h5 {
        margin: 0 0 0.25em;
        padding: 0 0 0.125em 0; }
        #TopNav module pane h5 a, #TopNav module pane h5 span, #SideNav module pane h5 a, #SideNav module pane h5 span {
          display: inline-block;
          vertical-align: middle; }
      #TopNav module pane column, #SideNav module pane column {
        display: inline-block;
        vertical-align: top;
        margin: 0 0.5em 0.5em 0; }
      #TopNav module pane column:last-of-type, #SideNav module pane column:last-of-type {
        vertical-align: top;
        margin: 0; }
      #TopNav module pane .Links, #SideNav module pane .Links {
        margin-bottom: 0.5em; }
        #TopNav module pane .Links li, #SideNav module pane .Links li {
          display: block;
          white-space: nowrap; }
          #TopNav module pane .Links li span, #SideNav module pane .Links li span {
            vertical-align: middle;
            display: inline-block; }
    #TopNav module.Selected icon, #TopNav module.Selected widget, #SideNav module.Selected icon, #SideNav module.Selected widget {
      background: #4a000f;}
    #TopNav module.Selected pane, #SideNav module.Selected pane {
      display: block; }
  #TopNav.Initializing, #SideNav.Initializing {
    opacity: 0; }
  #TopNav controls, #SideNav controls {
    cursor: pointer;
    display: inline-block;
    text-align: center; }
    #TopNav controls span, #SideNav controls span {
      width: 0.25em;
      height: 0.25em;
      display: inline-block;
      border-radius: 100%;
      background: #333;
      margin: 0.25em; }
      #TopNav controls span.Selected, #SideNav controls span.Selected {
        background: #CCC; }

#TopNav {
  box-sizing: border-box;
  z-index: 5;
  left: 0;
  right: 0;
  height: 60px;
  height: var(--TopNavHeight);
  display: flex;
  left: 0;
  padding-left: 52px;
  padding-left: var(--SideNavRegularIconBarWidth); }
  #TopNav module icon, #TopNav module config {
    display: none; }
  #TopNav module widget, #TopNav module icon {
    vertical-align: middle;
    height: 60px;
    height: var(--TopNavHeight);
    box-sizing: border-box; }
  #TopNav module widget {
    line-height: 0;
    padding: 0.25em;
    display: flex;
    align-items: center; }
  #TopNav module pane {
    overflow: auto;
    padding: 0.25em;
    top: 60px;
    top: var(--TopNavHeight); }
    #TopNav module pane::-webkit-scrollbar {
      width: 0.25em;
      height: 0.25em; }
  #TopNav module.HasIndicator widget {
    border-width: 0.25em 0 0 0;
    border-style: solid;
    border-color: transparent;
    padding-top: 0; }
  #TopNav module.HasUpdates widget {
    border-color: #6CB1E1;
    border-color: var(--NavUpdatesIndicatorColor); }
  #TopNav module.Compact icon {
    display: table-cell; }
  #TopNav module.Hidden {
    display: none; }
  #TopNav controls {
    width: 40px;
    display: flex;
    align-items: center; }
  #TopNav:hover {
    z-index: 7; }

#SideNav {
  height: 100%;
  z-index: 4;
  max-width: 100%;
  box-sizing: border-box;
  top: 60px;
  top: var(--TopNavHeight); }
  #SideNav > wrapper {
    position: relative;
    display: block;
    height: 100%; }
    #SideNav > wrapper module {
      display: block;
      margin-bottom: 0.5em; }
      #SideNav > wrapper module widget, #SideNav > wrapper module config {
        display: none; }
      #SideNav > wrapper module pane {
        top: 0;
        bottom: 0;
        text-align: left; }
        #SideNav > wrapper module pane header, #SideNav > wrapper module pane footer {
          position: relative; }
          #SideNav > wrapper module pane header:after, #SideNav > wrapper module pane footer:after {
            opacity: 0;
            transition: opacity 0.25s ease-in-out;
            position: absolute;
            content: '';
            left: 0;
            right: 0;
            height: 15px;
            z-index: 1;
            background: transparent; }
        #SideNav > wrapper module pane header:after {
          bottom: -15px;
          background: linear-gradient(to bottom, rgba(0, 0, 0, 0.25), transparent); }
        #SideNav > wrapper module pane footer:after {
          top: -15px;
          background: linear-gradient(to top, rgba(0, 0, 0, 0.25), transparent); }
        #SideNav > wrapper module pane:hover header:after, #SideNav > wrapper module pane:hover footer:after {
          opacity: 1; }
        #SideNav > wrapper module pane article {
          box-sizing: border-box;
          overflow: auto; }
          #SideNav > wrapper module pane article::-webkit-scrollbar {
            width: 0.25em;
            height: 0.25em; }
      #SideNav > wrapper module.Selected icon spriteIcon {
        filter: none; }
      #SideNav > wrapper module.HasIndicator icon {
        border-style: solid; }
      #SideNav > wrapper module.HasUpdates icon {
        border-color: #6CB1E1;
        border-color: var(--NavUpdatesIndicatorColor); }
      #SideNav > wrapper module.Hidden {
        display: none; }
        #SideNav > wrapper module.Hidden.Selected {
          display: block; }
          #SideNav > wrapper module.Hidden.Selected icon {
            display: none; }
    #SideNav > wrapper controls {
      padding: 0.5em 0; }
  #SideNav icon spriteIcon {
    filter: grayscale(1);
    transition: all 0.5s ease-in-out; }
  #SideNav:hover icon spriteIcon {
    filter: none; }

}
#HeadlineWrapper {
    height: 200px;
}

#PageFooter #ImportantLinks li a {
    border-radius: .125em;
    font-size: var(--DefaultLargeFontSize);
    font-weight: bold;
    display: block;
    background-color: #4a000f;
    padding: .5em 1em;
    margin-bottom: 1em;
}

#PageFooter #ImportantLinks li #AddBugLink {
    color: #fe035f;
}

#PageFooter #ImportantLinks li #AddTicketLink {
    color: #ed3358;
}