#tpm__sBmSteamAccountDetails > module > div > div:nth-child(1) > p {
	display: block;
    width: 200px;
    position: absolute;
    top: 8px;
    left: 155px;
    font-size: 19px;
    white-space: nowrap;
}

#tpm__sBmSteamAccountDetails > module > div {
	display: grid;
    justify-content: left;
    align-items: center;
    padding: 8px 4px 4px 4px;
    height: auto;
    min-height: 132.5px /*215px*/;
    grid-template-columns: [content] 100%;
    grid-template-rows: [top] 100% /*75%*/ [bottom] 0% /*25%*/;
    background: url() !important;
    background-position: center center;
    background-size: 100% 230px;
}

#tpm__sBmSteamAccountDetails > module > h2 {
	background: url() !important;
    background-position: center center;
    background-size: 100% 230px;
}

@media (min-width: 648px) {
    wrapper#HeadlineWrapper {
        background: url();
        width: auto;
        height: 400px;
        background-size: cover;
        align-content: end;
        overflow: hidden;
        background-position: top -600px right 0px;
    }
	
	body {
	background: 
		url(https://files.gamebanana.com/bitpit/capellacompile_header_22768.png),
		black;
	background-position: top -150px right -200px;
    background-size: fit;
	background-repeat: no-repeat;
	background-attachment: scroll;
    position: relative;
}
}

@media (max-width: 649px) {
wrapper#HeadlineWrapper {
    background: url();
    width: auto;
    height: 270px;
    background-size: cover;
    align-content: end;
    overflow: hidden;
    background-position: top;
}
}

@media (max-width: 1049px) {
body {
    background: rgb(73,22,25);
	background-image: url(https://files.gamebanana.com/bitpit/capellacompile_header_22768.png);
	background-position: unset;
    background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
    position: relative;
}
}

#PageTitle {
	content: url();
}


#IdentityModule > div > a > img {
    content: url(https://files.gamebanana.com/bitpit/thatswhatiwant_avatar_css.gif);
    width: 100%;
    height: 100%;
}

#IdentityModule > div > div:nth-child(2) > a > img {
    content: url(https://files.gamebanana.com/bitpit/upic_large.png);
    max-width: 100%;
}




#MainContent {
	background-color: rgb(0 0 0 / 0%);
	background-position: unset;
    background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
    position: relative;
}

#PageFooter {
	background-color: rgba(0, 0, 0, 0.85);
}

#ContentGrid>row>column:not(:first-child) {
/*    background: var(--blanker); */
/*    border-right: var(--blanker); */
	background-color: rgba(0, 0, 0, 0.85)!important;
	border-right: rgba(0, 0, 0, 0.85);
}

#ContentGrid row>column.lg-4 {
	background-color: rgba(0, 0, 0, 0.85)!important;
	border-right: rgba(0, 0, 0, 0.85);
}

#ContentGrid row>column.lg-3 {
	background-color: rgba(0, 0, 0, 0.85)!important;
	border-right: rgba(0, 0, 0, 0.85);
}

#ContentGrid row>column.lg-6 {
	background-color: rgba(0, 0, 0, 0.85)!important;
	border-right: rgba(0, 0, 0, 0.85);
}


#PrimaryNav {
	background-color: rgba(0, 0, 0, 0.85)!important;
}

#SecondaryNav {
    background-image: url(https://puu.sh/K0Ldy/2eabb01d2c.png);
    background-size: cover;
    background-position: unset;
    background-repeat: no-repeat;
	background-attachment: fixed;
}

#SubNavigator {
	background-color: rgba(0, 0, 0, 0.85)!important;
}

#SubNavigator .BasicSubNavigator, #SubNavigator .DropdownMenuSubNavigator {
    margin-right: 50px;
}

#SubNavigator .ActiveEntry {
    border-bottom-color: #dd43a3;
}

#NotificationsNavModule .NotificationPaneHeader {
	background-color: rgba(0, 0, 0, 0.55)!important;
}

#SecondaryNav>wrapper module pane article {
	background-color: rgba(0, 0, 0, 0.55)!important;
}

#SecondaryNav module pane {
    background: none;
    display: none;
    position: absolute;
}

.Notification.Unseen {
	background-color: rgba(0, 0, 0, 0.55)!important;
    border-top-color: var(--NotificationUnseenDividerColor);
}

[data-theme~=dropdown] .tippy-content {
	background-color: rgba(0, 0, 0, 0.55)!important;
}

input[type=text], input[type=password], input[type=url], input[type=number], input[type=email], input[type=num], input[type=tel], select, .SelectLike, option, .OptionLike, optgroup, textarea, .TextareaLike {
    max-width: 100%;
    box-sizing: border-box;
    border-radius: 0.125em;
    outline: none;
    font-size: 1em;
    font-family: var(--DefaultTechnicalFontFamily);
    padding: 0.75em;
    color: var(--InputTextColor);
    border: 0;
    background: var(--InputBackgroundColor);
}

#PageBackground {
	background-image: url(https://puu.sh/KaX1l/2d42f525cc.png)!important;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: .05;
}

#MainContentHeader
{
  --HeadlineWrapperHeight: -400px !important;
}

.Record .PreviewImage {
    aspect-ratio: 16 / 9;
    object-fit: cover;
    object-position: top center;
    background-color: #0d0d0d80;
    width: 100%;
    max-height: 22em;
}