	img[src="https://images.gamebanana.com/img/av/6928dca1c70a4.png"] {
    content:url("https://phencyclidine08.github.io/gbcss/ShackPack/Shackpack/avatar_css.png");
    max-width:128px !important;
    max-height:128px !important;
    width:auto;
    height:auto;
  }
  
  