  img[src="https://images.gamebanana.com/img/av/6928d6937cf95.png"] {
    content:url("https://phencyclidine08.github.io/gbcss/ShackPack/Shackpack/avatar_css.png");
    max-width:125px !important;
    max-height:125px !important;
    width:auto;
    height:auto;
	
  }