  img[src="https://images.gamebanana.com/img/av/5c77b5dbca5ce.png"] {
    content:url("https://proudsupplies.co.uk/cdn/shop/files/HelloI_mGayBadge.webp?v=1712269423&width=1000");
    max-width:50px !important;
    max-height:50px !important;
    width:auto;
    height:auto;
  }